/*
 * forGRIDable.css - let's see what CSS3 Grid layout and Custom Properties ("CSS3 variables") can achieve together
 *
 * Author: Ph. Vayssière
 * License: M.I.T.
 */

@supports (grid-area: auto) {
  .grid {
    grid-template-columns: repeat(var(--nb-col, 12), var(--pattern, minmax(0, 1fr)));
    grid-gap: var(--gap, var(--gap-rows, 0.5rem) var(--gap-columns, 1rem));
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width, 1230px);
  }

  @media (min-width: 576px) {
    .grid {
      display: grid;
    }
  }

  .grid > * {
    grid-column: var(--col-start);
    grid-column-end: span var(--col);
    grid-row: var(--row-start);
    grid-row-end: span var(--row);
  }
}
